#user-admin-all{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90vh;
}
#users-container{
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#menu{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-title{
    padding: 15px;
}
@media screen and (max-width: 768px){
    #user-admin-all{
        display: flex;
        flex-direction: column;
    }
    #menu, 
    #menu button{
        width: 100%;
    }
    #menu button{
        padding: 15px;
    }
    #users-container,
    .user-title,
    #user-form-container{
        width: 100%;
    }
}